{% extends 'base.html.twig' %}

{% block title %}{{ driver.name }} | {{ parent() }}{% endblock %}

{% block body %}
	<h2>{{ driver.name }}</h2>

	<table class="table table-sm">
		<tbody>
			<tr>
				<th colspan="5"><h3>{{ 'driver.fields.blades'|trans }} <small>({{ driver.blades.count }})</h3></th>
			</tr>
			{% for blade in driver.blades %}
			<tr style="background-color: {{ blade.element.color }}">
				<td>{{ blade.gender }}</td>
				<td>{{ blade.name }}</td>
				<td>{{ blade.weapon.name }}</td>
				<td>{% for i in 1..(blade.rareness) %}{% if i is odd %}<sup>{% else %}<sub>{% endif %}👑{% if i is odd %}</sup>{% else %}</sub>{% endif %}{% endfor %}</td>
				<td><a href="{{ path('blade_show', { 'id': blade.id }) }}" class="btn btn-sm btn-info"><i class="fa fa-eye"></i></a>
					<a href="{{ path('blade_edit', { 'id': blade.id }) }}" class="btn btn-sm btn-warning"><i class="fa fa-pencil"></i></a></td>
			</tr>
			{% endfor %}
			<tr>
				<th colspan="5"><h3>{{ 'driver.fields.weaponLevels'|trans }} <small>({{ driver.weaponLevels.count }})</h3></th>
			</tr>
			{% for weapon in driver.weaponLevels %}
			<tr>
				<th colspan="2">{{ weapon.name }}</th>
				{% for item,art in weapon.arts %}
				<td>{{ ('weapon_level.fields.' ~ item)|trans }}</td>
				<td id="L{{ item ~ weapon.id }}">{{ art }}</td>
				<td><a href="{{ path('weapon_change', { 'id': weapon.id, 'item': item, 'change': 1 }) }}" class="btn btn-sm btn-outline-success ajaxify" data-load-target="#L{{ item ~ weapon.id }}"><i class="fa fa-chevron-circle-up"></i></a>
					<a href="{{ path('weapon_change', { 'id': weapon.id, 'item': item, 'change': -1 }) }}" class="btn btn-sm btn-outline-warning ajaxify" data-load-target="#L{{ item ~ weapon.id }}"><i class="fa fa-chevron-circle-down"></i></a></td>
				{%- if not loop.last %}
			</tr>
			<tr>
				<td colspan="2"></td>
				{%- endif -%}
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<ul class="list-inline float-right">
		<li class="list-inline-item">
			<a href="{{ path('driver_index') }}" class="btn btn-light"><i class="fa fa-list"></i></a>
		</li>
		<li class="list-inline-item">
			<a href="{{ path('driver_edit', { 'id': driver.id }) }}" class="btn btn-warning" class="btn btn-sm btn-warning"><i class="fa fa-pencil"></i></a>
		</li>
		<li class="list-inline-item">
			{{ form_start(delete_form) }}
				<button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i></button>
			{{ form_end(delete_form) }}
		</li>
	</ul>
{% endblock %}

{% block javascripts %}
		<script src="{{ asset('js/ajaxify.js') }}"></script>
{% endblock %}