{% extends app.request.xmlHttpRequest ? 'base_ajax.html.twig' : 'base.html.twig' %}

{% block title %}{{ 'weapon.new.title'|trans }} | {{ parent() }}{% endblock %}

{% block body %}
	{% if app.request.xmlHttpRequest %}
	<div class="modal-header">
		<h3 class="modal-title">{{ 'weapon.new.heading'|trans }}</h3>
		<button type="button" class="close" data-dismiss="modal" aria-label="{{ 'global.action.close' }}">
			<span aria-hidden="true">×</span>
		</button>
	</div>
	<div class="modal-body">
	{% else %}
	<h2>{{ 'weapon.new.heading'|trans }}</h2>
	{% endif %}

	{% include 'weapon/form.html.twig' with {'form': form} %}

	{% if not app.request.isXmlHttpRequest() %}
	<a href="{{ path('weapon_index') }}" class="btn btn-light float-right"><i class="fa fa-list"></i></a>
	{% endif %}

	{% if app.request.isXmlHttpRequest() %}
	</div>
	{% endif %}
{% endblock %}

{% block javascripts %}
		<script src="{{ asset('js/collection_adder.js') }}"></script>
		<script src="{{ asset('js/entity_adder.js') }}"></script>
{% endblock %}